.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #fff;
}

.title {
  color: #e39b32;
  margin-bottom: 0;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.login {
  display: flex;
  flex-direction: column;

  width: 20%;
  margin: auto;
  padding-top: 24px;
}

.login__select {
  height: 32px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-color: lightgray;
  cursor: pointer;
}

.logout {
  display: flex;
  margin-left: 30px;
}

.logout__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  margin-left: 25px;
  margin-top: 3px;
  cursor: pointer;
}

.logout-user {
  margin: 35px 0 0 0;
}

.copyright-link {
  font-size: 0.5em !important;
  color: #282c34;
  text-align: center;
}

.illustration {
  height: 400px;
  width: 400px;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: auto;
}

.nav li:first-child {
  padding-left: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.sub-navigation ul {
  display: flex;
  justify-content: center;
}

.sub-navigation a {
  color: #282c34;
  text-decoration: none;
}

.new-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

.btn-primary {
  background: #00a86a;
  color: #fff;
  font-weight: 550;
}

.btn-outline {
  border: 1px solid #00a86a;
  background: #fff;
  color: #00a86a;
}

.btn-outline:hover {
  color: #fff;
  background: #00a86a;
  font-weight: 600;
}

fieldset {
  border: none;
}

input {
  box-sizing: border-box;
  height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding-left: 6px;
}

legend {
  font-weight: 600;
  font-size: 1.2em;
}

.active {
  color: #7d34eb;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.width-33 {
  width: 33%;
}

.width-100 {
  width: 100%;
}

.m-t {
  margin-top: 24px;
}

.m-t-0_5 {
  margin-top: 12px;
}

.m-b {
  margin-bottom: 24px;
}

.m-b-0_5 {
  margin-bottom: 12px;
}

.p-r {
  padding-right: 24px;
}

.p-t-0_5 {
  padding-top: 12px;
}

.font-size-small {
  font-size: 0.8em;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-item-center {
  margin-left: auto;
  margin-right: auto;
}

.card-list {
  flex-basis: 33%;
}

.card-list > li {
  margin-bottom: 20px;
  padding-bottom: 12px;
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding: 0;
}

.card-avatar {
  margin-top: 3px;
  margin-right: 24px;
  border-right: 1px solid #d3d3d3;
}

.card-header {
  background: #f3f3f3;
  padding: 12px;
  border-bottom: 1px solid #d3d3d3;
}

.card-header > h2 {
  margin: 0;
}

.avatar {
  margin-top: 15px;
}

.timestamp {
  font-size: small;
  color: #3D3D3D;
}