.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #fff;
}

.title {
  color: #e39b32;
  margin-bottom: 0;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.login {
  display: flex;
  flex-direction: column;

  width: 20%;
  margin: auto;
  padding-top: 24px;
}

.login__select {
  height: 32px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-color: lightgray;
}

.logout {
  display: flex;
  margin-left: auto;
}

.logout__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  margin-left: 25px;
  margin-top: 3px;
  cursor: pointer;
}

.logout-user {
  margin: 35px 0 0 0;
}

.copyright-link {
  font-size: 0.5em !important;
  color: #282c34;
  text-align: center;
}

.illustration {
  height: 400px;
  width: 400px;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin-left: auto;
}

.nav li:first-child {
  padding-left: 0;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.sub-navigation ul {
  display: flex;
  justify-content: center;
}

.sub-navigation a {
  color: #282c34;
  text-decoration: none;
}

.new-question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-primary {
  height: 32px;
  border: none;
  border-radius: 4px;
  background: #00a86a;
  color: #fff;
  cursor: pointer;
  font-weight: 550;
  font-size: 1.1em;
}

fieldset {
  border: none;
}

input {
  box-sizing: border-box;
  height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding-left: 6px;
}

legend {
  font-weight: 600;
  font-size: 1.2em;
}

.active {
  color: #7d34eb;
}
