/** utilities - width **/

.width-33 {
  width: 33%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

/** utilities - spacing **/

.m-0 {
  margin: 0;
}

.m-h-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.m-t-0 {
  margin-top: 0;
}

.m-t-0_5 {
  margin-top: 12px;
}

.m-t-0_75 {
  margin-top: 18px;
}

.m-t {
  margin-top: 24px;
}

.m-t-1_5 {
  margin-top: 36px;
}

.m-t-2 {
  margin-top: 48px;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-b-0_5 {
  margin-bottom: 12px;
}

.m-b {
  margin-bottom: 24px;
}

.m-b-2 {
  margin-bottom: 48px;
}

.m-l {
  margin-left: 24px;
}

.m-l-0_5 {
  margin-left: 12px;
}

.m-r-0_5 {
  margin-right: 12px;
}

.m-r {
  margin-right: 24px;
}

.m-r-2 {
  margin-right: 48px;
}

.p {
  padding: 24px;
}

.p-r {
  padding-right: 24px;
}

.p-t-0_5 {
  padding-top: 12px;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-b-0_5 {
  padding-bottom: 12px;
}

/** utilities - flex **/

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-item-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

/** utilities - text **/

.bold {
  font-weight: 600;
}

.font-size-7 {
  font-size: 7em;
}

.font-size-small {
  font-size: 0.8em;
}

.text-align-center {
  text-align: center;
}

.text-vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

/** colors **/

.color-white {
  color: #fff;
}

.bg-color-lightgrey {
  background: #d3d3d3;
}

/** borders **/

.border-radius-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/** general styles **/

fieldset {
  border: none;
}

input {
  box-sizing: border-box;
  height: 28px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding-left: 6px;
}

input[type="radio"] {
  vertical-align: middle;
  margin-top: -1px;
  cursor: pointer;
}

legend {
  font-weight: 600;
  font-size: 1.2em;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.App {
  display: flex;
  flex-direction: column;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(8px + 2vmin);
  color: #fff;
}

.title {
  color: #e39b32;
}

.main {
  display: flex;
  flex-direction: column;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}


.copyright-link {
  font-size: 0.5em !important;
  color: #282c34;
  text-align: center;
}

.illustration {
  height: 400px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.is-active {
  color: #8E42FF;
  border-bottom: 2px solid #8E42FF;
}

.nav-item:hover a {
  border-bottom: 2px solid #7525ed;
}

/** login **/

.login {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  padding-top: 24px;
}

.login > * {
  margin-left: auto;
  margin-right: auto;
}

.login__select {
  height: 32px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-color: #f3f3f3;
  cursor: pointer;
}

/** logout **/

.logout {
  display: flex;
  margin-left: 30px;
}

.logout__button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  margin-left: 25px;
  margin-top: 3px;
  cursor: pointer;
}

.logout-user {
  margin: 35px 0 0 0;
}

.avatar {
  margin-top: 15px;
}

/** navigation **/

.nav-links {
  display: flex;
}

.nav li:first-child {
  padding-left: 0;
}

.nav a:not(.active) {
  color: #fff;
}

.nav-item {
  padding-right: 0;
}

.nav-item a {
  text-decoration: none;
  padding-bottom: 5px;
  margin-right: 12px;
}

.flyout-menu a {
  color: #282c34;
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.menu-bars {
  display: none;
  margin: 0;
  z-index: 10;
}

.is-open {
  display: block;
}

.sub-navigation a {
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
}

.sub-navigation .active a {
  color: #fff;
}

.sub-navigation li {
  background: #f3f3f3;
  cursor: pointer;
}

.sub-navigation li:hover {
  background: #7525ed;
}

.sub-navigation li:hover a {
  color: #fff;
}

.sub-navigation li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.sub-navigation li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sub-navigation .active {
  background: #8E42FF;
}

/** buttons **/

.btn {
  height: 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

.btn-primary {
  background: #00a86a;
  color: #fff;
  font-weight: 550;
}

.btn-primary:hover {
  background: #01925d;
}

.btn-outline {
  border: 1px solid #00a86a;
  background: #fff;
  color: #00a86a;
}

.btn-outline:hover {
  color: #fff;
  background: #00a86a;
  font-weight: 600;
}

.new-question {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  align-items: center;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.content-box {
  flex-grow: 1;
  flex-shrink: 1;
}

.question-details {
  width: 50%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

/** card list **/

.card-list {
  flex-basis: 33%;
}

.card-list > li {
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.card-avatar {
  margin-top: 3px;
  margin-right: 24px;
  border-right: 1px solid #d3d3d3;
}

.card-header {
  background: #f3f3f3;
  padding: 12px;
  border-bottom: 1px solid #d3d3d3;
}

.card-header > h2 {
  margin: 0;
}

.card-question-details {
  width: 100%;
  padding-right: 24px;
}

/** user card **/

.user-card {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  position: relative;
}

.user-card-image {
  flex-basis: 5%;
  margin-top: 12px;
  margin-right: auto;
  margin-left: auto;
}

.user-card-data {
  margin: 36px 24px 0 0;
  flex-grow: 1;
}

.user-card-score {
  flex-basis: 10%;
  justify-content: start;
  margin: 40px auto 24px auto;
}

.score-container {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding-bottom: 12px;
  height: fit-content;
}

.score-label {
  padding: 12px 24px;
  background: #f5f5f5;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  font-weight: 600;
}

.score-content {
  padding-top: 12px;
}

.score {
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  background: #00a86a;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  padding: 16px;
  text-align: center;
}

/** question card **/

.timestamp {
  font-size: small;
  color: #3D3D3D;
}

.radio-label {
  margin-left: 5px;
  cursor: pointer;
}

.selected {
  font-weight: 600;
}

.answer:not(.is-selected) {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  background: #f3f3f3;
}

.is-selected {
  position: relative;
  border: 1px solid #00a86a;
  border-radius: 3px;
  background: #e8fff6;
}

.progress-bar {
  height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 12px 0;
  background: #00a86a;
  text-align: center;
}

.completed {
  line-height: 30px;
}

.question-container {
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 24px;
  margin-top: 24px;
}

.question-success {
  text-align: center;
}

.question-success-icon {
  display: block;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
}

.medal-container {
  flex-basis: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
  padding-bottom: 5px;
  position: absolute;
  left: -30px;
}

.medal-container a {
  margin-top: 10px;
  margin-left: 20px;
}

.voted {
  position: absolute;
  background: #e29b33;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  right: -25px;
  bottom: 110px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voted span {
  font-size: 14px;
  padding-left: 10px;
}

.flyout-menu {
  background: #fff;
  color: black;
  position: absolute;
  top: 40px;
  right: -20px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.flyout-links {
  width: max-content;
  text-align: left;
}

/** media queries **/

@media (max-width: 550px) {
  .login > * {
    width: 60%;
  }
}

@media (min-width: 551px) {
  .login > * {
    width: 50%;
  }
}

@media (min-width: 770px) {
  .login > * {
    width: 45%;
  }
}

@media (min-width: 880px) {
  .login > * {
    width: 40%;
  }
}

@media (min-width: 1100px) {
  .login > * {
    width: 33%;
  }
}

@media (min-width: 1600px) {
  .login > * {
    width: 20%;
  }
}

@media (max-width: 400px) {
  .illustration {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 570px) {
  .card-list {
    flex-basis: 75%;
  }
}

@media (max-width: 660px) {
  .menu-bars {
    display: flex;
    justify-content: end;
    position: relative;
    background: transparent;
    padding: 0;
  }

  .menu-bars img {
    position: absolute;
    left: -6px;
  }

  .nav-container {
    display: none;
  }

  .logged-in {
    flex-direction: row;
  }

  .title {
    margin: 24px;
  }
}

@media (max-width: 750px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .card-avatar {
    margin-right: 0;
    border: none;
  }

  .card-question-details {
    width: 90%;
    padding-right: 0;
  }
}

@media (min-width: 571px) and (max-width: 1130px) {
  .card-list {
    flex-basis: 50%;
  }
}

@media (max-width: 995px) {
  .user-card {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }

  .user-card-image {
    width: 230px;
    height: 230px;
  }

  .user-card-data {
    margin-right: auto;
    margin-left: auto;
  }

  .score-container {
    width: 200px;
  }
}

@media (min-width: 996px) {
  .user-card {
    padding-right: 30px;
  }

  .user-card-image {
    margin-left: 12px;
  }
}

@media (min-width: 1045px) {
  .user-card-data {
    padding-right: 24px;
    padding-left: 12px;
  }
}